@page "/FetchData"

@using blazor.Models
@using blazor.Service

@* <h3>Items</h3>
<ul>
    @foreach (var item in taskList)
    {
        <li>@item.TaskListId</li>
        <li>@item.UserId</li>
        <li>@item.Title</li>
        <li>@item.Desc</li>
        <li>@item.Priority</li>
        <li>@item.Status</li>
        <li>@item.CreatedAt</li>
        <li>@item.StartDate</li>
        <li>@item.EndDate</li>
    }
</ul> *@

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Wallet Deducted</th>
            <th>Points Gain/Deducted</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in taskList)
        {
            <tr>
                <td>@t.Title</td>
                <td>@t.Desc</td>
                <td>@t.StartDate</td>
                <td>@t.EndDate</td>
            </tr>
        }
    </tbody>
</table>

@inject ApiService ApiService
@code {
    private List<TaskList>? taskList = new();

    protected override async Task OnInitializedAsync()
    {
        taskList = await ApiService.GetAllAsync();
    }
}
